:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;

    font-family: 'Droid Sans', 'Helvetica', 'Arial', 'Noto Sans', sans-serif;
}


div .likep {
    margin-bottom: 1rem;
}

div .footer {
    grid-column: 1/3;
    justify-self: right;
    font-size: smaller;
    color: rgb(100, 100, 100);
    margin-right: 1em;
    margin-bottom: 1em;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb))
}

a {
    color: rgb(120, 120, 120);
    text-decoration: none;
    font-weight: bold;
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 20, 20, 20;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

