.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.content {
  padding: 2rem;
  justify-content: center;
  display: grid;
  grid-gap: 2em;
}

.generator {
  grid-row: 2;
}

.explanation {
  grid-row: 3;
}

.header {
  text-align: center;
  grid-row: 1;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

  .generator {
    grid-column: 1/2;
    grid-row: unset;
  }

  .explanation {
    grid-column: 2;
  }

  .explanation {
    grid-column: 2;
    grid-row: unset;
  }
}

@media (min-width: 900px) {

  .main {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-gap: 1em;
    justify-content: center;
  }

  .content {
    justify-content: center;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 2em;
  }

  .header {
    grid-column: 1/3;
    text-align: center;
    margin: 1rem;
  }

  .generator {
    grid-column: 1/2;
  }

  .explanation {
    grid-column: 2/3;
    grid-row: unset;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-gap: 1em;
    justify-content: center;
  }
}