
form.generator {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

.attribute {
    grid-column: 1;
}

h3.section {
    grid-column: 1 / 3;
}

.entry {
    grid-column: 2;
}

.error {
    color: red;
}

ul.error {
    list-style-type: none;
    grid-column: 2/3;
}

li.error {
    font-size: smaller;
    grid-column: 2 / 3;
}

.submit {
    grid-column: 1/3;
    justify-content: center;
    height: 4em;
}

@media screen and (min-width: 900px) {
    form.generator {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1em;
    }

    .attribute {
        grid-column: 1 / 2;
    }

    .entry, .submit {
        grid-column: 2 / 3;
    }

    h3.section {
        grid-column: 1 / 3;
    }

    .submit {
        height: unset;
    }
}